body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background:#f4f6f8;
    color:#333;
}

h1 {
    margin:0;
    color: white;
    background: gray;
    width: auto;
    height: 69px;
    text-align: center;
}

nav{
    background:rgb(211, 206, 206);
    padding:10px;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:20px;
    padding:0;
}

nav a {
    color:rgb(78, 78, 78);
    text-decoration:none;
    font-weight:bold;
}

button:hover{
    background:#0f172a;
}
